@charset "utf-8";

@mixin banxin {
    width: 1240px;
    margin: 0 auto;
}

// h2
@mixin h2title {
    box-sizing: border-box;
    font-size: 30px !important;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #000;
    padding-bottom: 20px;
}

@mixin main-img-box {
    position: relative;
    width: 100%;
    height: 450px;
    background-color: #fff;
}

@mixin box-img {
    position: absolute;
    width: 2560px;
    height: 450px;
    left: 50%;
    margin: 0 -1280px;
}

@mixin img {
    width: 100%;
    height: 100%;

    // position: absolute;
    // width: auto;
    // height: auto;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    // cursor: pointer;
}

@mixin texthide {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
%video-list-desc {
    color: #515151;
    font-size: 16px;
    width: 303px;
    text-align: center;
    margin: 17px 0;
}
%community-list-img {
    width: 303px;
    height: 190px;
    img {
        width: 100%;
        height: 100%;
    }
}
#louti {
    position: fixed;
    z-index: 999;
    width: 52px;
    left: 30px;
    top: 200px;
    border: 1px solid blueviolet;
    background-color: #fff;
}

#louti-box {
    display: none;
    li {
        display: inline-block;
        width: 50px;
        line-height: 50px;
        height: 50px;
        font-size: 16px;
        text-align: center;
        border: 1px solid #eee;
        background-color: skyblue;
        cursor: pointer;
    }
}

#main {
    width: 100%;
    background-color: #eee;
    min-height: 1400px;
    padding-top: 50px;
}

.phone-box {
    width: 100%;
    padding-bottom: 20px;
}

.h2titles {
    @include h2title()
}

.img-box {
    @include box-img()
}

.phone-img-box {
    @include main-img-box();

    img {
        @include img()
    }
}

.phone-content {
    @include banxin();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    background-color: #eee;
}

.phone-header {
    width: 615px;
    height: 610px;
    background-color: #fff;
    margin-top: 20px;
    &:hover {
        box-shadow: 5px 5px 10px gray;
    }
}

.phone-goods {
    margin: 20px 0 0 0;
    width: 303px;
    height: 375px;
    background-color: #fff;
    &:hover {
        box-shadow: 5px 5px 10px gray;
    }
}

.box-a {
    width: 100%;
    height: 100%;
}

.goods-name-top {
    display: block;
    margin: 0 auto;
    padding: 50px 0 10px 0;
    font-size: 28px;
    color: #333;
    text-align: center;
    line-height: 28px;
}

.goods-desc-top {
    margin: 0 auto;
    font-size: 18px;
    color: #333;
    height: 28px;
    text-align: center;
    line-height: 28px;
    @include texthide();
    width: 460px;
}

.goods-price-top {
    display: block;
    margin: 0 auto;
    font-size: 22px;
    text-align: center;
    color: #cc0000;

    i {
        font-size: 14px;
        color: #cc0000;
    }
}

.goods-img-box-top {
    width: 460px;
    height: 460px;
    margin: 0 auto;

    img {
        width: 100%;
        height: 100%;
    }
}

.goods-img-box {
    width: 230px;
    height: 230px;
    margin: 0 auto;
    padding-top: 30px;

    img {
        width: 100%;
        height: 100%;
    }
}

.goods-name {
    display: block;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    font-size: 16px;
    color: #333;
    text-align: center;
    line-height: 24px;
}

.goods-desc {
    font-size: 14px;
    color: #999;
    height: 20px;
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
    @include texthide();
    width: 230px;
}

.goods-price {
    display: block;
    margin: 0 auto;
    font-size: 22px;
    text-align: center;
    color: #cc0000;

    i {
        font-size: 14px;
        color: #cc0000;
    }
}

.community-list {
    margin-bottom: 15px;
    padding-bottom: 20px;
    background-color: #fff;
    &:hover {
        box-shadow: 5px 5px 10px gray;
    }
}

.community-list-img {
   @extend %community-list-img
}


.usermsg {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    width: 303px;
    height: 42px;
    // background-color: snow;
    padding: 10px 15px 0 ;

    span {
        display:block;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }

    em {
        padding-left: 15px;
        display:block;
        font-size: 14px;
        color: #515151;
        line-height: 36px;
    }
}

.userdesc {
    width: 273px;
    height: 25px;
    font-size: 16px;
    text-align: left;
    padding: 10px 15px 15px;
    @include texthide();
    color: #515151;
}
.userphone {
    display:block;
    padding: 0 15px;
    font-size: 14px;
    color: #999;
    padding-top: 20px;
}

.flyme-list-first {
    // margin-bottom: 15px;
    div {
        width: 615px;
        height: 245px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.flyme-list {
    margin-bottom: 15px;
    background-color: #fff;
    &:hover {
        box-shadow: 5px 5px 10px gray;
    }
}
.flyme-list-img {
    width: 303px;
    height: 190px;
    img {
        width: 100%;
        height: 100%;
    }
}
.flyme-list-desc {
    @extend %video-list-desc;
    @include texthide();
}
.video-list{
    margin-bottom: 15px;
    background-color: #fff;
    &:hover {
        box-shadow: 5px 5px 10px gray;
    }
}
.video-list-img {
    @extend %community-list-img;
    position: relative;
}
.playbtn {
    position: absolute;
    display: block;
    z-index: 500;
    width:30px ;
    height: 30px;
    right: 20px;
    bottom: 20px;
    background-image: url("../images/paly.png");
    background-position: center;
    background-size: cover;
}
.video-list-desc {
    height: 20px;
    line-height: 20px;
   @extend %video-list-desc;
   @include texthide();
}
.loutiActive{
    background-color: rebeccapurple !important;
}